@using Academy.Data
@inject AcademyContext _context
@model Academy.DTO.CategoriesDepartmentsVM



<label for="choices-single-default" class="form-label text-muted">Categories"</label>
<select class="form-control" multiple name="SelectedCategories"
        id="CategoryId">

    <option selected disabled value="0">Choose...</option>
    @{
        if(Model.categories != null)
        {
            foreach (var item in Model.categories)
            {
                <option value="@item.CategoryId">@item.CategoryNameEN</option>
            }
        }
    }
</select>
<span id="CategorySpanId" style="display:none" class="text-danger">Category Is Required</span>



