<meta charset="utf-8" />
<title>@ViewBag.title </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
<meta content="Themesbrand" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">
<link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />

@*  <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />   *@
<link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
<script src="~/js/devextreme/jquery.js"></script>
<script src="~/js/devextreme/bootstrap.js"></script>
<script src="~/js/devextreme/dx.all.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

