@page
@model Academy.Areas.Admin.Pages.CompetitionDepartmentsManagment.ViewModel
@{
    ViewBag.Title = "Competition Departments";
    ViewBag.pTitle = "View Details";
    ViewBag.pageTitle = "Competition Departments";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">

        <!-- Department Card 3 -->

        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Competition Department</h4>
            </div><!-- end card header -->

            <div class="card-img-container" style="text-align: center; margin-bottom: 20px;">
                <img src="/@Model.CompetitionDepartment.Image" alt="Competition Department Image" class="img-fluid" style="max-height: 250px; object-fit: cover;">
            </div>

            @* <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Department Image"> *@
            <div class="card-body">
                @*  <h5 class="card-title">Department of Human Resources</h5>
                <p class="card-text">The HR Department is dedicated to employee development, recruitment, and ensuring a positive work environment.</p> *@
                <ul class="list-group list-group-flush">

                    <li class="list-group-item"><strong>Competition Department Title:</strong> @Model.CompetitionDepartment.Name</li>
                    <li class="list-group-item"><strong>Description:</strong> @Model.CompetitionDepartment.Description</li>

                    @if (Model.CompetitionDepartment.IsActive)
                    {
                        <li class="list-group-item"><strong>Status:</strong>    Active</li>
                    }
                    else
                    {
                        <li class="list-group-item"><strong>Status:</strong>    Not Active</li>
                    }

                </ul>
                <!-- Links to other pages -->
                <div class="d-flex justify-content-center mt-4">
                    <a href="/Admin/CompetitionDepartmentsManagment/CompetitionTeams?id=@Model.CompetitionDepartment.Id" class="link text-primary me-2">Competition Teams</a>

                </div>

            </div>
        </div>
    </div>
</div>
